html {
  background-color: aquamarine;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
}


header {
  display: flex;
  gap: 500px;
  justify-content:center;
}

a {
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

.data {
  background-color: pink;
  display: flex;
  height: auto;
  padding: 20px;
  width: 100%
}

.astronomyData, .songData {
  padding: 20px;
  width:50%;
}

.astronomyData {
  background-color: darkcyan;
}

.songData {
  background-color: lightcoral;
}

.heading {
  display: flex;
  justify-content: center;
}

.albumCover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.albumCover:hover {
  opacity: 50%;
}

.songTitle, .songInfo {
  display: flex;
  justify-content: center;
}
