@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Koulen&family=Outfit&display=swap');

html {
  background-color: #282e54;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
}

header {
  display: flex;
  font-family: 'Crushed', cursive;
  font-size: 20px;
  gap: 500px;
  justify-content: space-around;
}

a {
  color: #b093a3;
  text-decoration: none;
}

a:hover {
  color: #ffdd91;
}

.mainContainer > div {
  border-radius: 20px;
}

.data {
  display: flex;
  height: auto;
  width: 100%
}

.astronomyData, .songData {
  border-radius: 20px;
  font-family: 'Outfit', sans-serif;
  line-height: 1;
  margin: 75px;
  margin-top: 0px;
  padding: 20px;
  width:50%;
}

.astronomyData {
  background-color: #d6b2a5;
}

.songData {
  background-color: #787492;
}

.heading {
  display: flex;
  font-family: 'Crushed', cursive;
  justify-content: center;
}

.albumCover, .sunMoonImage {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.albumCover:hover {
  opacity: 50%;
}

.songTitle, .songInfo, .date, .astronomyInfo {
  display: flex;
  justify-content: center;
}

.sunMoonImage, .albumCover, .songTitle, .songInfo, .date, .astronomyInfo {
  margin-bottom: 15px;
  margin-top: 10px;
}