html {
  background-color: aquamarine;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
}

.query {
  display: flex;
  justify-content: space-between;
}

.data {
  background-color: pink;
  display: flex;
  height: auto;
  padding: 20px;
  width: 100%
}

.astronomyData, .songData {
  padding: 20px;
  width:50%;
}

.astronomyData {
  background-color: darkcyan;
}

.songData {
  background-color: lightcoral;
}